### General
*.orig
*.~
/.idea
*.iml
.sass-cache
.DS_Store
ENABLE_INSTALL_TOOL
FIRST_INSTALL

### Typo3 template
# Ignore several upload and file directories.
/htdocs/fileadmin/user_upload/
/htdocs/fileadmin/_temp_/
/htdocs/fileadmin/_processed_/
/htdocs/uploads/

# Ignore cache.
/htdocs/typo3conf/temp_CACHED*
/htdocs/typo3conf/temp_fieldInfo.php
/htdocs/typo3conf/deprecation_*.log

# Ignore system folders, you should have them symlinked.
/htdocs/typo3
/htdocs/typo3_src
/htdocs/typo3_src-*
/htdocs/index.php

# Ignore temp directory.
/htdocs/typo3temp/

# Ignore typo3 extensions installed with composer.
/htdocs/typo3conf/ext/realurl/
/htdocs/typo3conf/ext/vhs/

### Composer template
composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock